html. body {
	max-width: 100%;
	overflow: hidden;
}

.container {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.text {
	margin: 50px;
		font-family: Helvetica;

}

.vinyl {
	position: relative;
	margin: 0 auto;
	width: 354px;
	height: 354px;
}

.vinyl-top, .album, .vinyl-bottom {
	position: absolute;
}


.vinyl-top {
	z-index: 3;
}

.album {
	text-align: center;
	z-index: 2;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	margin: auto;
	width: 100%;
	height: 42%;
}

#art {
	border-radius: 50%;
}

.vinyl-bottom {
	z-index: 1;
}