html, body {
	max-width: 100%;
	overflow: hidden;
}

.container {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.text {
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 0 20px;
}

.vinyl {
	position: relative;
	width: 100%;
	height: 80%;
	overflow: hidden;
}

.vinyl-top, .album, .vinyl-bottom {
	position: absolute;
	left: 30%;
}

.vinyl-top, .vinyl-bottom {
	width: 40vw;
	height: 40vw;
}

.vinyl-top img, .vinyl-bottom img {
	width: 100%;
	height: 100%;
}

.vinyl-top {
	z-index: 3;
}

.album {
	z-index: 2;
	width: 15vw;
	height: 15vw;
	border: 5px black;
	left: 42.5%;
	top: 12.5vw;
}

.vinyl-bottom {
	z-index: 1;
}

.album img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .vinyl {
    	height: 60%;
    }
}