.text {
	font-family: Helvetica, sans-serif;
	text-align: center;
	margin: 0 20px;
}

.vinyl-top, .album, .vinyl-bottom {
 	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.vinyl-top, .vinyl-bottom {
	width: 40vw;
	height: 40vw;
}

.vinyl-top img, .vinyl-bottom img {
	width: 100%;
	height: 100%;
}

.vinyl-top {
	z-index: 3;
}

.album {
	z-index: 2;
	width: 15vw;
	height: 15vw;
	border: 5px black;
}

.vinyl-bottom {
	z-index: 1;
}

.album img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}